@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #383838;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/banner.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #66C75F;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    padding: 10px;
    z-index: 99;
}

nav img {
    width: 6vw;
    height: auto;
    margin-right: 2vw;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2vw;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover {
    text-decoration: underline;
}

.h1 {
    margin-top: 20vh;
    text-align: center;
    font-size: 20vh;
    font-family: "Protest Strike";
    text-transform: uppercase;
    background: linear-gradient(45deg, #284D25,#7BF073,#66C75F,#519E4C,#3C7538,#254722);
    background-size: 400% 100%;
    animation: deg 7s ease-in-out infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes deg {
    0%{background-position-x: 0%;}
    100%{background-position: 400%;}
}

section {
    font-family: "Protest Strike";
    color: #519E4C;
    text-align: center;
}

h2 {
    margin-top: 4vh;
    font-size: 8vh;
}

h3 {
    color: #7BF073;
    font-size: 4vh;
}

p {
    margin: 2vh auto;
    font-size: 1.5rem;
    color: #f7ebeb;
    max-width: 50vw;
}

.foto {
    width: 30vw;
    height: auto;
    border-radius: 30px;
    box-shadow: 20px 20px;
    margin: 20px;
}

.aside {
    margin: 5vh auto;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2vw;
    width: 90%;
}

.aside img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 5vh auto;
    width: 90%;
}

.card {
    padding: 20px;
    border-radius: 30px;
    background-color: #284D25;
}

footer {
    margin: 5vh auto;
    display: grid;
    text-align: center;
    background-color: #d6ffc5;
    width: 90%;
    border-radius: 30px;
    font-size: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

footer a {
    color: #383838;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    max-width: 10vw;
    height: auto;
    margin-left: 10px;
}

#logo {
    max-width: 20vw;
}

@media screen and (max-width: 992px) {
    nav {
        font-size: 2.5vw;
    }

    nav img {
        width: 10vw;
    }

    .foto {
        width: 45vw;
    }

    p {
        max-width: 80vw;
    }

    .aside {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #part {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        font-size: 1.2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {

    nav {
        flex-direction: column;
        font-size: 4vw;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav img {
        width: 25vw;
        margin-bottom: 10px;
    }

    .h1 {
        font-size: 14vh;
        margin-top: 16vh;
    }

    h2 {
        font-size: 6vh;
    }

    h3 {
        font-size: 4vh;
    }

    .foto {
        width: 80vw;
    }

    p {
        font-size: 1.2rem;
        max-width: 90vw;
    }

    #part {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr;
        font-size: 1.3rem;
    }

    footer img {
        max-width: 25vw;
    }

    #logo {
        max-width: 40vw;
    }
}
